@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

$primary-color: #001d3d;
$white-color: #ffffff;
$orange-red-color: #f72d2d;
// Colors to be used
$light-yellow-color: #ffd60a;
$navyblue-color: #003566;
$dark-yellow-color: #ffc300;
// $color: #001d3d;
// $color: #000814;
// $color: #e5e5e5;
// $color: #fca311;
// $color: #14213d;
// $color: #669bbc;
// $color: #003049;
// $color: #fdf0d5;
// $color: #c1121f;
// $color: #780000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", sans-serif;
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
  color: $primary-color;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.text {
  color: $white-color;
}

.top-header {
  padding: 8px 0 0;
}

.top-header-left {
  .social-list-box {
    span {
      font-weight: 600;
      font-size: 15px;
    }
    .social-list {
      li {
        padding: 0 4px;
        a {
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

.cart-box {
  font-size: 0.9375rem;
  .cart-main {
    img {
      width: 20px;
      margin-right: 10px;
      border-style: none;
    }
    span {
      color: $primary-color;
    }
  }
}

.btn {
  font-weight: 700;
}

.btn-sm {
  padding: 0.04rem 1.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-outline-primary {
  color: $primary-color;
  background-color: transparent;
  background-image: none;
  border-color: $primary-color;
  border-radius: 0.2rem;
  &:hover {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.navbar {
  padding: 0.25rem 1rem;
  .navbar-brand {
    padding-top: 0.265625rem;
    padding-bottom: 0.265625rem;
    font-size: 1.5625rem;
    line-height: inherit;
    img {
      width: 160px;
      height: 100px;
    }
  }
}

.btn-add-pet {
  font-size: 20px;
  font-weight: 700;
  background-color: black;
  color: white;
}

.icon-box {
  width: 50px;
  height: 50px;
  margin-left: 11px;
  background-color: $primary-color;
  padding: 6px;
  border-radius: 50%;
  i {
    &:before {
      content: "\f067";
    }
  }
}

.nav-link {
  color: #404040;
  font-size: 15px;
  transition: all 0.2s ease 0s;
  text-transform: uppercase;
}

.red-boxes-section {
  color: $white-color;
  font-size: 16px;

  .r-box {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 6px 16px;
    background-color: rgba(248, 70, 70, 0.85);
    display: flex;
    min-height: 100px;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .icon-box {
      width: 70px;
      height: 70px;
      border: 1px solid $white-color;
      padding: 12px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 70px;
    }
    .text-box {
      padding-left: 24px;
    }
    .r-box-title {
      font-size: 22px;
      text-transform: uppercase;
      margin-top: -3px;
      color: $white-color;
      text-decoration: none;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: rotate(-45deg) translate(-50%, -50%);
      transform-origin: 0 0;
      background: $orange-red-color;
      z-index: -1;
      transition: all 0.2s ease 0s;
      opacity: 0;
    }
  }
  p {
    margin-bottom: 0;
    color: $white-color;
    font-size: 15px;
  }
}

.search-pet-section {
  padding: 47px 0;
}

.bg-box {
  background: black;
  border-radius: 8px;
  padding: 20px;
  .form-title {
    font-size: 30px;
    font-weight: 300;
    color: $white-color;
    text-align: center;
    margin-bottom: 24px;
  }
}

.checkboxes {
  padding: 10px 0;
}

.custom-checkbox {
  padding-left: 40px;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  input[type="radio"] {
    display: none;
    + .checkmark {
      border-radius: 50%;
    }
    &:checked {
      + .checkmark {
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
  .checkmark {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    transition: all 0.2s ease 0s;
    &::before {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -4px;
      border-radius: 50%;
      background-color: $white-color;
      //opacity: 0;
      transition: all 0.2s ease 0s;
    }
  }
}

.search-btn {
  min-width: 187px;
  height: 50px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-search-button {
  color: $white-color;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: orangered;
    border: none;
  }
}

.relocate-pet-section {
  padding: 40px 0px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.06);
  background-image: url("../images/relocate-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 450px;
  position: relative;
  z-index: 1;
  .relocate-section-title {
    font-size: 64px;
    color: #232323;
    margin-bottom: 75px;
    small {
      font-size: 32px;
      padding-left: 25px;
    }
  }
  .relocate-form-box {
    max-width: 636px;
  }
}

.relocate-form-box {
  border-radius: 4px;
  button {
    background-color: $primary-color;
    border: none;
    &:hover {
      background-color: $orange-red-color;
    }
  }
}

.featured-pets-section {
  padding: 40px 0 20px;
  .featured-slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -101px;
    z-index: 3;
  }
}

.paw-title-box {
  .paw-title {
    font-size: 38px;
    color: #414141;

    .featured-pets-icon-box {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      max-width: 203px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: calc(50% - 18px);
        border-bottom: 1px dashed #414141;
        opacity: 0.4;
        left: 0;
        bottom: 12px;
        position: absolute;
      }

      &::after {
        content: "";
        display: block;
        width: calc(50% - 18px);
        border-bottom: 1px dashed #414141;
        opacity: 0.4;
        right: 0;
        bottom: 12px;
        position: absolute;
      }

      img {
        width: 28px;
        height: 27px;
        fill: $primary-color;
      }
    }
  }
}

.categories-banner-section {
  padding: 40px 0 20px;
  & [class^="col-"] {
    margin-bottom: 30px;
  }
}

.categories-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.categoies-banner-card {
  min-height: 185px;
  padding: 20px;
  transition: all 0.2s ease 0s;
  .category-icon {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    max-width: 42%;
    max-height: 90%;
  }
  .card-title {
    opacity: 0.9;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
  }
  .card-text {
    font-size: 1.125rem;
  }
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.bg-pet-home {
  background-color: #82b1ff !important;
}

.bg-best-food {
  background-color: #ec82ff !important;
}

.bg-pet-toys {
  background-color: #5de88b !important;
}

.bg-bags {
  background-color: #e8bc5d !important;
}

.bg-pet-cage {
  background-color: #fa8b8b !important;
}

.bg-medicine {
  background-color: #30b1ad !important;
}

.search-map-section {
  z-index: 3;
  position: relative;
  height: 450px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  .contact-form {
    position: relative;
    z-index: 3;
    max-width: 900px;
    flex: 0 1 900px;
    padding: 40px 30px;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
  }
  .contact-form-header {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }
  .search-form {
    display: flex;
    align-items: center;
    margin: 0px -7px;
    .col-box {
      flex: 1 1 auto;
      padding: 0 7px;
      margin-bottom: 15px;
      .text {
        color: black;
      }
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.custom-checkbox {
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
}

.has-float-label {
  overflow: hidden;
  text-align: left;
  .form-control {
    padding-top: 15px;
  }
}

.buttons-box {
  .btn-primary {
    min-width: 97px;
    height: 50px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: $primary-color;
    text-transform: uppercase;
  }
}

.about-section {
  padding: 40px 0;
  background: $white-color;
  .about-us-row {
    flex-wrap: nowrap;
    line-height: 38px;
  }
  .btn-box {
    margin-top: 52px;
  }
  .btn {
    min-width: 187px;
    text-transform: uppercase;
  }
  .btn-primary {
    color: #fff;
    background-color: #f84646;
    border-color: #f84646;
  }
}

.popular-pets-section {
  padding: 40px 0;
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  .popular-pets-list {
    display: flex;
    margin: 0px -8px;
    flex-wrap: wrap;
    a {
      text-decoration: none;
    }
  }
  .icon-box {
    width: 175px;
    height: 171px;
    border: 1px dashed #f84646;
    padding: 20px 10px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
  }
  .total-count {
    margin-top: 8px;
    color: black;
  }
}

// <--------- ADD PET STYLES ------------------->
.form-container {
  background: hsl(86, 85%, 95%);
  height: 100%;
  margin-top: 250px;
}

.button {
  display: block;
  background: hsl(86, 76%, 71%);
  color: hsl(0, 0, 100);
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  &:hover::after {
    background: hsla(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
  }
}
.button-social {
  padding-left: 64px;
  position: relative;
  z-index: 1;
  .fa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 100%;
    text-align: center;
    background: hsla(0, 0, 0, 0.1);
    line-height: 3.2;
    border-radius: 5px 0 0 5px;
  }
}
.button-facebook {
  background-color: hsl(221, 44%, 41%);
}
.button-twitter {
  background-color: hsl(206, 82%, 63%);
}
.button-google {
  background-color: hsl(7, 71%, 55%);
}
.button-linkedin {
  background-color: hsl(196, 100%, 43%);
}
/*--------------------
Form
--------------------*/
.signup-form {
  fieldset {
    border: none;
    padding: 0;
    margin: 20px 0;
    position: relative;

    input {
      width: 100%;
      height: 48px;
      color: hsl(0, 0, 20);
      padding: 15px 40px 15px 15px;
      border-radius: 5px;
      font-size: 14px;
      outline: none !important;
      border: 1px solid hsla(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
      vertical-align: top;
    }
  }
}
.button-submit {
  width: 100%;
  outline: none !important;
  background: linear-gradient(-5deg, hsl(86, 61%, 44%), hsl(86, 65%, 54%));
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 3px 0px hsla(86, 21%, 44%, 0.2);
  text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);
}
.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 800px;
  background: hsl(0, 0, 100);
  border-radius: 10px;
  box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
}
.signup-connect,
.signup-classic {
  width: 50%;
  padding: 30px 50px;
}

.signup-connect {
  background: linear-gradient(134deg, hsl(44, 96%, 65%), hsl(34, 95%, 45%));
  color: hsl(0, 0, 100);

  h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
  }
}

.signup-classic {
  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 23px;
    margin-bottom: 43px;
    text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
  }

  fieldset::after {
    content: "\f007";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 17px;
    z-index: 2;
    width: 20px;
    color: hsla(0, 0, 0, 0.2);
    text-align: center;
  }

  fieldset.email::after {
    content: "\f0e0";
  }

  fieldset.password::after {
    content: "\f023";
  }
}
.margintop-footer {
  margin-top: 260px;
}
//
//      *,
//      *::before,
//      *::after {
//        box-sizing: border-box;
//      }
//      html,
//      body {
//        height: 100%;
//        font-family: Open Sans;
//      }
//      body {
//        background: hsl(86, 85%, 95%);
//      }
//
//      /*--------------------
//Buttons
//--------------------*/
//      .btn {
//        display: block;
//        background: hsl(86, 76%, 71%);
//        color: hsl(0, 0, 100);
//        text-decoration: none;
//        margin: 20px 0;
//        padding: 15px 15px;
//        border-radius: 5px;
//        position: relative;
//
//        &::after {
//          content: "";
//          position: absolute;
//          z-index: 1;
//          top: 0;
//          left: 0;
//          width: 100%;
//          height: 100%;
//          transition: all 0.2s ease-in-out;
//          box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0),
//            0 3px 3px hsla(0, 0, 0, 0.2);
//          border-radius: 5px;
//        }
//
//        &:hover::after {
//          background: hsla(0, 0, 0, 0.1);
//          box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0.2);
//        }
//      }
//      .btn-social {
//        padding-left: 64px;
//        position: relative;
//        z-index: 1;
//
//        .fa {
//          position: absolute;
//          top: 0;
//          left: 0;
//          z-index: 1;
//          width: 50px;
//          height: 100%;
//          text-align: center;
//          background: hsla(0, 0, 0, 0.1);
//          line-height: 3.2;
//          border-radius: 5px 0 0 5px;
//        }
//      }
//      .btn-facebook {
//        background-color: hsl(221, 44%, 41%);
//      }
//      .btn-twitter {
//        background-color: hsl(206, 82%, 63%);
//      }
//      .btn-google {
//        background-color: hsl(7, 71%, 55%);
//      }
//      .btn-linkedin {
//        background-color: hsl(196, 100%, 43%);
//      }
//
//      /*--------------------
//Form
//--------------------*/
//      .form {
//        fieldset {
//          border: none;
//          padding: 0;
//          margin: 20px 0;
//          position: relative;
//
//          input {
//            width: 100%;
//            height: 48px;
//            color: hsl(0, 0, 20);
//            padding: 15px 40px 15px 15px;
//            border-radius: 5px;
//            font-size: 14px;
//            outline: none !important;
//            border: 1px solid hsla(0, 0, 0, 0.3);
//            box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
//            vertical-align: top;
//          }
//        }
//
//        button {
//          width: 100%;
//          outline: none !important;
//          background: linear-gradient(
//            -5deg,
//            hsl(86, 61%, 44%),
//            hsl(86, 65%, 54%)
//          );
//          border: none;
//          text-transform: uppercase;
//          font-weight: bold;
//          box-shadow: 0 3px 0px hsla(86, 21%, 44%, 0.2);
//          text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);
//        }
//      }
//
//      /*--------------------
//Signup
//--------------------*/
//      .signup {
//        position: absolute;
//        top: 50%;
//        left: 50%;
//        transform: translate(-50%, -50%);
//        z-index: 1;
//        width: 800px;
//        background: hsl(0, 0, 100);
//        border-radius: 10px;
//        box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
//        overflow: hidden;
//        display: flex;
//      }
//
//      .signup-connect,
//      .signup-classic {
//        width: 50%;
//        padding: 30px 50px;
//      }
//
//      .signup-connect {
//        background: linear-gradient(
//          134deg,
//          hsl(44, 96%, 65%),
//          hsl(34, 95%, 45%)
//        );
//        color: hsl(0, 0, 100);
//
//        h1 {
//          font-size: 30px;
//          margin-top: 10px;
//          margin-bottom: 40px;
//          text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
//        }
//      }
//
//      .signup-classic {
//        h2 {
//          font-size: 16px;
//          font-weight: normal;
//          margin-top: 23px;
//          margin-bottom: 43px;
//          text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
//        }
//
//        fieldset::after {
//          content: "\f007";
//          font-family: FontAwesome;
//          position: absolute;
//          right: 15px;
//          top: 17px;
//          z-index: 2;
//          width: 20px;
//          color: hsla(0, 0, 0, 0.2);
//          text-align: center;
//        }
//
//        fieldset.email::after {
//          content: "\f0e0";
//        }
//
//        fieldset.password::after {
//          content: "\f023";
//        }
//      }
//    }
//  }
//}

// <---------------------BUY/SELL STYLES ---------------------->

// body .primary-header + div:not(.secondary-header), body .primary-header + section {
//   margin-top: 130px;
// }
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .listing-page {
    position: relative !important;
    min-height: 200px;
  }
}
.box {
  display: none;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  button {
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    border-radius: 0;
    margin: 0;
    overflow: visible;
    text-transform: none;
  }
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert-dismissible {
  padding-right: 4.375rem;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.close {
  float: right;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
button.close {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
  z-index: 1;
}
// Filters
div {
  display: block;
}
#pet-subview {
  height: auto;
}
.two-column-layout {
  display: flex;
  margin-bottom: 30px;
  .left-col {
    flex: 0 0 265px;
    width: 265px;
  }
  .right-col {
    flex: 1 1 auto;
    padding: 0 30px;
    padding-right: 0;
    overflow: hidden;
    display: inline-block;
  }
}
// .two-column-layout > .left-col {
//   flex: 0 0 265px;
//   width: 265px;
// }
.filter-sidebar {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.14);
  height: 100%;
  // height: 1580px;
  padding-bottom: 15px;
  margin-top: 10px;
}
.filter-sidebar .sidebar-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: #3f3f3f;
  color: white;
  span i {
    font-size: 16px;
    margin-right: 10px;
  }
  a {
    color: white;
    font-size: 0.875rem;
    text-decoration: none;
    background-color: transparent;
  }
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
// .filter-sidebar .sidebar-header span i {
//   font-size: 16px;
//   margin-right: 10px;
// }
.fa-filter:before {
  content: "\f0b0";
}
// .filter-sidebar .sidebar-header a {
//   color: white;
//   font-size: 0.875rem;
//   text-decoration: none;
//     background-color: transparent;
// }
.filter-sidebar .sidebar-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  font-size: 0.875rem;
  .sidebar-section-header {
    padding: 8px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #2d2d2d;
  }
  .sidebar-section-body {
    padding: 0px 18px;
  }
}
// .filter-sidebar .sidebar-box .sidebar-section-header {
//   padding: 8px 18px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   cursor: pointer;
//   font-size: 16px;
//   font-weight: 700;
//   color: #2d2d2d;
// }
.form-group {
  margin-bottom: 1rem;
}
.input-group {
  // position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border-radius: 20px;
  .icon-group {
    position: relative;
  }
}

input {
  -webkit-rtl-ordering: logical;
  cursor: text;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  margin: 0;
  overflow: visible;
}
.form-control {
  color: #464646 !important;
  appearance: none !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  display: block;
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group .form-control {
  height: 43px;
  position: relative;
  // border-radius: 20px;
  font-size: 16px !important;
  line-height: 1.2;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group-append {
  margin-left: -1px;
}
.input-group-prepend,
.input-group-append {
  display: flex;
}
button {
  align-items: flex-start;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group .btn {
  height: 43px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  .icon-group .btn {
    border-radius: 4px;
    color: #404040;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
.btn-link {
  background-color: transparent;
}
.input-group.icon-group .btn {
  border-radius: 4px;
  color: #404040;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
// idk wth is
.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group
  > .input-group-prepend:first-child
  > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.fa-search:before {
  content: "\f002";
}
select {
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
  margin: 0;
  text-transform: none;
}
select:not(:-internal-list-box) {
  overflow: visible !important;
}
.form-control {
  font-size: 18px !important;
  color: #464646 !important;
  appearance: none !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  width: 100%;
  line-height: 1.5;
  border-radius: 0.25rem;
}
select.form-control {
  background-image: url(/assets/images/caret-down-black.svg);
  background-position: center right 15px;
  background-repeat: no-repeat;
  padding-right: 35px;
}
.filter-sidebar .sidebar-box .form-control {
  height: 37px;
  padding-top: 0px;
  padding-bottom: 0px;
}
option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
option:disabled {
  color: -internal-light-dark(graytext, rgb(170, 170, 170));
}
.filter-sidebar .sidebar-box .checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
label {
  display: inline-block;
  cursor: default;
}
.custom-checkbox {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
  font-size: 0.875rem;
  padding-left: 24px;
  margin-bottom: 0px;
  .checkmark {
    width: 15px;
    height: 15px;
    top: 3px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: all 0.2s ease 0s;
  }
}
input {
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-rtl-ordering: logical;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: none;
  overflow: visible;
}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  border: initial;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: rgba(65, 65, 65, 0.1);
  font-size: 0.8125rem;
  font-weight: 400;
}
span.text {
  color: black;
}
h6 {
  display: block;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  line-height: 1.2;
  color: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.text-uppercase {
  text-transform: uppercase !important;
}
// right side
.cards-list-header {
  background: white;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 10px 24px;
  margin-bottom: 12px;
  margin-top: 10px;
  .pets-list-header {
    display: flex;
    align-items: center;
  }
  .found-title {
    font-size: 1.75rem;
    color: #6d6d6d;
    margin-bottom: 0px;
    margin-right: auto;
  }
  .filter-row {
    display: flex;
    width: 100%;
    .left-col {
      margin-right: auto;
      flex: 1;
    }
  }
}
.right-col .btn {
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #f84646;
  border-color: #f84646;
}
.filter-btn {
  font-size: 14px !important;
  display: none !important;
  float: right;
  border-radius: 50px;
  height: 32px;
  margin-right: 12px;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
h2 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.control-with-label {
  white-space: nowrap;
}
// @media (min-width: 576px){
// .form-inline .form-group {
//   display: flex;
//   flex: 0 0 auto;
//   flex-flow: row wrap;
//   align-items: center;
//   margin-bottom: 0;
// }}
.control-with-label label {
  margin-right: 15px;
  font-size: 0.875rem;
  color: #a3a3a3;
  cursor: default;
  margin-bottom: 0px;
}
// @media (min-width: 576px){
// .form-inline label {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 0;
// }}
select {
  text-align: start;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
  margin: 0;
  text-transform: none;
  .form-control {
    background-image: url(/assets/images/caret-down-black.svg);
    background-position: center right 15px;
    background-repeat: no-repeat;
    padding-right: 35px;
  }
}
select:not(:-internal-list-box) {
  overflow: visible !important;
}
.form-control {
  font-size: 18px !important;
  color: #464646 !important;
  appearance: none !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}
// @media (min-width: 576px){
// .form-inline .form-control {
//     display: inline-block;
//     width: auto;
//     vertical-align: middle;
// }}
.right-col {
  display: flex;
  align-items: flex-start;
}
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: none;
  line-height: 0;
  margin-right: -0.75rem;
  .btn-link {
    font-weight: 400;
    color: #f84646;
    background-color: transparent;
  }
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.right-col .btn.active {
  color: #f84646;
}
svg {
  overflow: hidden;
  vertical-align: middle;
  fill: #f84646;
}
:not(svg) {
  transform-origin: 0px 0px;
}
.btn-link {
  font-weight: 400;
  color: #f84646;
  background-color: transparent;
}
.listing-page .views-box.active {
  display: block;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  .p-card-landscape {
    transition: all 0.2s ease 0s;
    .img-box-main {
      margin-right: 32px;
    }
  }
}
div {
  display: block;
}
.card-body {
  flex: 1 1 auto;
  padding: 0.5rem 0.8rem;
}
.media {
  display: flex;
  align-items: flex-start;
}
a {
  color: #f84646;
  text-decoration: none;
  background-color: transparent;
}
.img-box {
  background-image: url(/assets/images/parrot.jpeg);
  background-size: cover;
  background-position: center center;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-2 {
  margin-top: 0.5rem !important;
}
.mr-auto {
  margin-right: auto !important;
}
.p-card-landscape .date-box {
  color: #474747;
  font-size: 0.75rem;
  .media-body {
    flex: 1;
    overflow: hidden;
  }
  .media-body-header {
    display: flex;
    margin-bottom: 5px;
  }
}
.left-box {
  margin-right: auto;
}
a {
  text-decoration: none;
  background-color: transparent;
}
.card-title {
  color: #474747;
  font-weight: 700;
  margin-top: -8px;
  font-size: 1.45rem;
  margin-bottom: 0.75rem;
  padding: 10px;
}
.p-card-landscape .price-box {
  font-size: 1.625rem;
  font-weight: 700;
  color: #474747;
  opacity: 0.7;
  line-height: 1.2;
  white-space: nowrap;
  float: right;
  clear: both;
}
// @media (min-width: 768px){
// .p-card-landscape .media-body-header .price-box {
//     display: block;
// }}
.p-card-landscape .price-box span {
  font-size: 1rem;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 1rem;
}
.p-card-landscape .card-text {
  font-size: 0.8125rem;
  min-height: 38px;
  margin-bottom: 5px;
  word-break: break-all;
  padding: 10px;
}
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.p-card-landscape .pet-feature-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px;
  background-color: rgba(171, 171, 171, 0.1);
  border-radius: 4px;
  padding: 5px 10px;
  justify-content: space-between;
  li {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 0px 13px;
  }
}
li {
  text-align: -webkit-match-parent;
}
img {
  vertical-align: middle;
  border-style: none;
  margin-right: 6px;
}
.p-card-landscape + .p-card-landscape {
  margin-top: 10px;
}
// .listing-page .views-box {
//   display: none;
// }
// .listing-page .cards-list-map-inner {
//   display: flex;
// }
// .listing-page .cards-list-map-inner .left-side {
//   flex: 0 0 336px;
//   width: 336px;
//   max-height: 754px;
// }
// .mCustomScrollbar.mCS_no_scrollbar {
//   touch-action: auto;
// }
// .mCustomScrollBox {
//   position: relative;
//   overflow: hidden;
//   height: 100%;
//   max-width: 100%;
//   outline: 0;
//   direction: ltr;
// }
// .mCSB_container {
//   overflow: hidden;
//   width: auto;
//   height: auto;
//   margin-right: 16px;
// }
// .mCSB_scrollTools {
//   position: absolute;
//   width: 16px;
//   height: auto;
//   left: auto;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   opacity: .75;
//   transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
// }
// .mCSB_scrollTools .mCSB_draggerContainer {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   height: auto;
// }
// .mCSB_scrollTools .mCSB_dragger {
//   cursor: pointer;
//   width: 100%;
//   height: 30px;
//   z-index: 1;
// }
// .mCSB_draggerContainer .mCSB_dragger_bar {
//   background-color: #999999 !important;
//   position: relative;
//     width: 4px;
//     height: 100%;
//     margin: 0 auto;
//     border-radius: 16px;
//     text-align: center;
//     transition: opacity .2s ease-in-out,background-color .2s ease-in-out;
// }
// .mCSB_scrollTools .mCSB_draggerRail {
//   width: 2px;
//   height: 100%;
//   margin: 0 auto;
//   border-radius: 16px;
//   background-color: transparent !important;
// }
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-top: 0;
  margin-bottom: 1rem;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  padding-top: 10px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  margin-left: -1px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid #dee2e6;
}
// .page-item:first-child .page-link {
//   margin-left: 0;
//   border-top-left-radius: 0.25rem;
//   border-bottom-left-radius: 0.25rem;
// }
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #f84646;
  border-color: #f84646;
}
.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

//<------------------ FOOTER STYLES ---------------->
.footer {
  background-color: #323232;
  padding: 35px 0 0;
  color: white;
  font-size: 18px;
  .logo-box {
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    line-height: 1.7;
  }
  .social-list-box {
    .footer-social-list {
      li {
        padding: 0 4px;
        margin-bottom: 8px;
        a {
          color: $white-color;
          text-decoration: none;
        }
      }
    }
  }
  .section-title {
    .list-title {
      margin-bottom: 12px;
    }
  }
  .menu-list {
    margin-bottom: 35px;
    a {
      font-size: 1.125rem;
      opacity: 0.6;
      padding: 3px 0;
      display: block;
      text-decoration: none;
    }
  }
  a {
    color: white;
    transition: all 0.2s ease 0s;
    text-decoration: none;
  }
  .copyright-box {
    text-align: right;
  }
  .small-link-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: -15px;
    li {
      position: relative;
      a {
        padding: 0 16px;
        font-size: 0.8125rem;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
      }
      &:after {
        content: "|";
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.footer-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  .form-control {
    height: 43px;
    border-radius: 20px;
    font-size: 16px !important;
    line-height: 1.2;
  }
}

.input-group-append {
  margin-left: -1px;
}

.footer-input-group {
  .btn {
    height: 43px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }
}

.btn-outline-white {
  color: $white-color;
  background-color: transparent;
  background-image: none;
  border-color: $white-color;
}

.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  font-weight: 600;
  flex-wrap: wrap;
}
