@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", sans-serif;
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
  color: #001d3d;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.text {
  color: #ffffff;
}

.top-header {
  padding: 8px 0 0;
}

.top-header-left .social-list-box span {
  font-weight: 600;
  font-size: 15px;
}
.top-header-left .social-list-box .social-list li {
  padding: 0 4px;
}
.top-header-left .social-list-box .social-list li a {
  color: rgba(0, 0, 0, 0.8);
}

.cart-box {
  font-size: 0.9375rem;
}
.cart-box .cart-main img {
  width: 20px;
  margin-right: 10px;
  border-style: none;
}
.cart-box .cart-main span {
  color: #001d3d;
}

.btn {
  font-weight: 700;
}

.btn-sm {
  padding: 0.04rem 1.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-outline-primary {
  color: #001d3d;
  background-color: transparent;
  background-image: none;
  border-color: #001d3d;
  border-radius: 0.2rem;
}
.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #001d3d;
  border-color: #001d3d;
}

.navbar {
  padding: 0.25rem 1rem;
}
.navbar .navbar-brand {
  padding-top: 0.265625rem;
  padding-bottom: 0.265625rem;
  font-size: 1.5625rem;
  line-height: inherit;
}
.navbar .navbar-brand img {
  width: 160px;
  height: 100px;
}

.btn-add-pet {
  font-size: 20px;
  font-weight: 700;
  background-color: black;
  color: white;
}

.icon-box {
  width: 50px;
  height: 50px;
  margin-left: 11px;
  background-color: #001d3d;
  padding: 6px;
  border-radius: 50%;
}
.icon-box i:before {
  content: "\f067";
}

.nav-link {
  color: #404040;
  font-size: 15px;
  transition: all 0.2s ease 0s;
  text-transform: uppercase;
}

.red-boxes-section {
  color: #ffffff;
  font-size: 16px;
}
.red-boxes-section .r-box {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 6px 16px;
  background-color: rgba(248, 70, 70, 0.85);
  display: flex;
  min-height: 100px;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.red-boxes-section .r-box .icon-box {
  width: 70px;
  height: 70px;
  border: 1px solid #ffffff;
  padding: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 70px;
}
.red-boxes-section .r-box .text-box {
  padding-left: 24px;
}
.red-boxes-section .r-box .r-box-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: -3px;
  color: #ffffff;
  text-decoration: none;
}
.red-boxes-section .r-box::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: 0 0;
  background: #f72d2d;
  z-index: -1;
  transition: all 0.2s ease 0s;
  opacity: 0;
}
.red-boxes-section p {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 15px;
}

.search-pet-section {
  padding: 47px 0;
}

.bg-box {
  background: black;
  border-radius: 8px;
  padding: 20px;
}
.bg-box .form-title {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}

.checkboxes {
  padding: 10px 0;
}

.custom-checkbox {
  padding-left: 40px;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}
.custom-checkbox input[type=radio] {
  display: none;
}
.custom-checkbox input[type=radio] + .checkmark {
  border-radius: 50%;
}
.custom-checkbox input[type=radio]:checked + .checkmark {
  background-color: #001d3d;
  border: 1px solid #001d3d;
}
.custom-checkbox .checkmark {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  transition: all 0.2s ease 0s;
}
.custom-checkbox .checkmark::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.2s ease 0s;
}

.search-btn {
  min-width: 187px;
  height: 50px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-search-button {
  color: #ffffff;
  background-color: #001d3d;
  border-color: #001d3d;
}
.custom-search-button:hover {
  background-color: orangered;
  border: none;
}

.relocate-pet-section {
  padding: 40px 0px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.06);
  background-image: url("../images/relocate-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 450px;
  position: relative;
  z-index: 1;
}
.relocate-pet-section .relocate-section-title {
  font-size: 64px;
  color: #232323;
  margin-bottom: 75px;
}
.relocate-pet-section .relocate-section-title small {
  font-size: 32px;
  padding-left: 25px;
}
.relocate-pet-section .relocate-form-box {
  max-width: 636px;
}

.relocate-form-box {
  border-radius: 4px;
}
.relocate-form-box button {
  background-color: #001d3d;
  border: none;
}
.relocate-form-box button:hover {
  background-color: #f72d2d;
}

.featured-pets-section {
  padding: 40px 0 20px;
}
.featured-pets-section .featured-slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -101px;
  z-index: 3;
}

.paw-title-box .paw-title {
  font-size: 38px;
  color: #414141;
}
.paw-title-box .paw-title .featured-pets-icon-box {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 203px;
  position: relative;
}
.paw-title-box .paw-title .featured-pets-icon-box::before {
  content: "";
  display: block;
  width: calc(50% - 18px);
  border-bottom: 1px dashed #414141;
  opacity: 0.4;
  left: 0;
  bottom: 12px;
  position: absolute;
}
.paw-title-box .paw-title .featured-pets-icon-box::after {
  content: "";
  display: block;
  width: calc(50% - 18px);
  border-bottom: 1px dashed #414141;
  opacity: 0.4;
  right: 0;
  bottom: 12px;
  position: absolute;
}
.paw-title-box .paw-title .featured-pets-icon-box img {
  width: 28px;
  height: 27px;
  fill: #001d3d;
}

.categories-banner-section {
  padding: 40px 0 20px;
}
.categories-banner-section [class^=col-] {
  margin-bottom: 30px;
}

.categories-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.categoies-banner-card {
  min-height: 185px;
  padding: 20px;
  transition: all 0.2s ease 0s;
}
.categoies-banner-card .category-icon {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  max-width: 42%;
  max-height: 90%;
}
.categoies-banner-card .card-title {
  opacity: 0.9;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.categoies-banner-card .card-text {
  font-size: 1.125rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.bg-pet-home {
  background-color: #82b1ff !important;
}

.bg-best-food {
  background-color: #ec82ff !important;
}

.bg-pet-toys {
  background-color: #5de88b !important;
}

.bg-bags {
  background-color: #e8bc5d !important;
}

.bg-pet-cage {
  background-color: #fa8b8b !important;
}

.bg-medicine {
  background-color: #30b1ad !important;
}

.search-map-section {
  z-index: 3;
  position: relative;
  height: 450px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.search-map-section::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.search-map-section .contact-form {
  position: relative;
  z-index: 3;
  max-width: 900px;
  flex: 0 1 900px;
  padding: 40px 30px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
}
.search-map-section .contact-form-header {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.search-map-section .search-form {
  display: flex;
  align-items: center;
  margin: 0px -7px;
}
.search-map-section .search-form .col-box {
  flex: 1 1 auto;
  padding: 0 7px;
  margin-bottom: 15px;
}
.search-map-section .search-form .col-box .text {
  color: black;
}
.search-map-section .search-form .form-group {
  margin-bottom: 0;
}
.search-map-section iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.custom-checkbox {
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
}

.has-float-label {
  overflow: hidden;
  text-align: left;
}
.has-float-label .form-control {
  padding-top: 15px;
}

.buttons-box .btn-primary {
  min-width: 97px;
  height: 50px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #001d3d;
  text-transform: uppercase;
}

.about-section {
  padding: 40px 0;
  background: #ffffff;
}
.about-section .about-us-row {
  flex-wrap: nowrap;
  line-height: 38px;
}
.about-section .btn-box {
  margin-top: 52px;
}
.about-section .btn {
  min-width: 187px;
  text-transform: uppercase;
}
.about-section .btn-primary {
  color: #fff;
  background-color: #f84646;
  border-color: #f84646;
}

.popular-pets-section {
  padding: 40px 0;
  text-align: center;
  font-size: 27px;
  font-weight: 600;
}
.popular-pets-section .popular-pets-list {
  display: flex;
  margin: 0px -8px;
  flex-wrap: wrap;
}
.popular-pets-section .popular-pets-list a {
  text-decoration: none;
}
.popular-pets-section .icon-box {
  width: 175px;
  height: 171px;
  border: 1px dashed #f84646;
  padding: 20px 10px;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.popular-pets-section .total-count {
  margin-top: 8px;
  color: black;
}

.breadcrumb {
  list-style: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  color: #414141;
  line-height: 0;
  padding: 18px 0 8px;
  background: transparent !important;
}
.breadcrumb .breadcrumb-item {
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.4;
  max-width: 100%;
}
.breadcrumb .breadcrumb-item:first-child a {
  display: flex;
  align-items: center;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../images/angle-right-small.svg");
  background-position: center center;
  background-repeat: no-repeat;
  padding-right: 24px;
  margin-left: -6px;
}
.breadcrumb .breadcrumb-item .active {
  color: #6c757d;
}

.find-vet-shop-box {
  margin-bottom: 80px;
}
.find-vet-shop-box .left-box {
  flex: 0 0 410px;
  max-width: 410px;
  padding: 18px;
  margin-right: 15px;
}
.find-vet-shop-box .left-box .left-box-header-inner {
  margin-bottom: 18px;
}
.find-vet-shop-box .left-box .left-box-header-inner .box-title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-right: auto;
  margin-bottom: 0;
}
.find-vet-shop-box .left-box .left-box-body {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0px -18px;
}
.find-vet-shop-box .custom-checkbox {
  padding-left: 32px;
}
.find-vet-shop-box .result-card-list {
  max-height: 665px;
}
.find-vet-shop-box .right-box {
  flex: 1 1 auto;
}

.border-box {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}

.input-group {
  align-items: stretch;
}
.input-group.icon-group .btn {
  border-radius: 4px;
  color: #404040;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.input-group-append {
  margin-left: -1px;
  display: flex;
}

.form-group {
  margin-bottom: 1rem;
}

select.form-control {
  text-indent: -2px;
  background-image: url("../images/caret-down-black.svg");
  background-position: center right 15px;
  background-repeat: no-repeat;
  padding-right: 35px;
}

.form-control {
  display: block;
  width: 100%;
  height: 53px;
  padding: 0.375rem 0 0.375rem 0.75rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-md {
  height: 43px !important;
}

.font-size-sm {
  font-size: 0.9375rem !important;
}

.custom-checkbox {
  font-weight: 400;
  white-space: nowrap;
}
.custom-checkbox input {
  display: none;
}
.custom-checkbox input:checked + .checkmark {
  background-color: #f84646;
  border: 1px solid #f84646;
}
.custom-checkbox .checkmark {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: block;
  position: absolute;
  left: 0;
  transition: all 0.2s ease 0s;
}
.custom-checkbox .text {
  color: black;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

.media {
  display: flex;
}

.vet-shop-card {
  padding: 10px 18px 10px 24px;
  font-size: 0.9rem;
  align-items: center !important;
}
.vet-shop-card .media-body {
  padding-right: 10px;
}
.vet-shop-card h5 {
  font-size: 0.9375rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #404040;
}
.vet-shop-card address {
  display: block;
  margin-bottom: 2px;
  font-style: normal;
  line-height: inherit;
}
.vet-shop-card p {
  margin-bottom: 0;
  margin-top: 0;
}
.vet-shop-card .image-box {
  flex: 0 0 80px;
  max-width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100px;
  background-position: center center;
  height: 80px;
}

.media-body {
  flex: 1;
}

.star-rating-box {
  display: flex;
  align-items: center;
  color: #e7711b;
}
.star-rating-box .star-rating-list {
  list-style: none;
  padding: 0 5px;
  margin: 2px 0 0;
  color: #d4d4d4;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
}
.star-rating-box .star-rating-list li {
  padding: 0 2px;
}

small {
  font-size: 80%;
  font-weight: 400;
}

.form-container {
  background: #f4fde7;
  height: 100%;
  margin-top: 250px;
}

.button {
  display: block;
  background: #bded7d;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}
.button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.button:hover::after {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}

.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 800px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
}

.footer {
  background-color: #323232;
  padding: 35px 0 0;
  color: white;
  font-size: 18px;
}
.footer .logo-box {
  margin-bottom: 20px;
}
.footer p {
  font-size: 14px;
  line-height: 1.7;
}
.footer .social-list-box .footer-social-list li {
  padding: 0 4px;
  margin-bottom: 8px;
}
.footer .social-list-box .footer-social-list li a {
  color: #ffffff;
  text-decoration: none;
}
.footer .section-title .list-title {
  margin-bottom: 12px;
}
.footer .menu-list {
  margin-bottom: 35px;
}
.footer .menu-list a {
  font-size: 1.125rem;
  opacity: 0.6;
  padding: 3px 0;
  display: block;
  text-decoration: none;
}
.footer a {
  color: white;
  transition: all 0.2s ease 0s;
  text-decoration: none;
}
.footer .copyright-box {
  text-align: right;
}
.footer .small-link-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: -15px;
}
.footer .small-link-list li {
  position: relative;
}
.footer .small-link-list li a {
  padding: 0 16px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.footer .small-link-list li:after {
  content: "|";
  position: absolute;
  right: 0;
  top: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.footer-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.footer-input-group .form-control {
  height: 43px;
  border-radius: 20px;
  font-size: 16px !important;
  line-height: 1.2;
}

.input-group-append {
  margin-left: -1px;
}

.footer-input-group .btn {
  height: 43px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.btn-outline-white {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}

.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  font-weight: 600;
  flex-wrap: wrap;
}

/*# sourceMappingURL=styles.css.map */
